body {
    background-color: rgb(175, 222, 239);
    color: rgb(129, 24, 24);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(41, 129, 41);
}

a:visited {
    color:rgb(139, 12, 141);
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}