body {
    background-color: rgb(175, 222, 239);
    color: rgb(129, 24, 24);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    transition: 1s;
}

main {
    padding: 10px ;
}

header:hover {
    background: linear-gradient(to right top, green, purple, orange);
    font-size: 20pt;
    transition: 0.5s 150ms;
}

header:active {
    background: linear-gradient(to right, red, orange, yellow, green, rgb(0, 174, 255), blue, purple);
    color: black;
    transition: 0.5s 150ms;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
    transition: 1s;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

footer:hover {
    background: linear-gradient(to left bottom, green, purple, orange);
    font-size: 20pt;
    transition: 0.5s 150ms;
}

footer:active {
    background: linear-gradient(to left, red, orange, yellow, green, rgb(0, 174, 255), blue, purple);
    color: black;
    transition: 0.5s 150ms;
}

a {
    text-decoration: none;
    color: rgb(41, 129, 41);
    transition: 2s 200ms;
    text-shadow: 3px 3px 2px gray;
}

a:visited {
    color:rgb(139, 12, 141);
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 0.3s 200ms;
}

a:active {
    color: pink;
    background-color: green;
}
