body {
    background: #F0F0F0;
}
div {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
header {
    background-color: rgb(77, 207, 255);
    color: rgb(54, 53, 53);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 23px;
    z-index: 1;
    font-family: Arial;
}
main {
    margin: 40px;
    font-family: Arial;
    font-size: 15px;
    position: relative;
    top: 100px;
}
footer {
    padding-top: 80px;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333333d8;
    color: #fff;
    padding: 10px;
    width: 250px;
    z-index: 1;
}
nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 4px;
}
nav a:hover {
    background-color: #fff;
    color: #333;
}
nav .active {
    background-color: #009dff;
}
table {
    width: 80%;
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
}
th, td {
    border: 1px black solid;
    text-align: center;
}
iframe {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
